h1 {
  text-align: center;
  color: orange;
}
body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}
img {
  width: 80%;
  margin: 20px auto;
  border-radius: 30px;
  display: block;
}
.shadowBox {
  box-shadow: 5px 5px 10px rgba(233, 177, 177, 0.3);
}
.contact-btn {
  display: block;
  margin: 0% auto;
  width: 200px;
}
